<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
				   shrink-to-fit=no">
    {% if title %}
    <title>{{ title }} - PUBDB Database </title>
    {% else %}
    <title> PUBDB Database </title>
    {% endif %}
    <link rel="stylesheet"
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	  crossorigin="anonymous">

    <script src="https://use.fontawesome.com/ec668f5140.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" >
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" >

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  </head>
  <body>


    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<ul class="nav mr-auto">
	  <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href={{ url_for("search_papers") }}>Search papers</a>
	  </li>
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
	    <div class="dropdown-menu">
	      <a class="dropdown-item"
	      href={{ url_for("report_articles_per_year") }}>Number of articles
	      per year</a>
	      <a class="dropdown-item" href={{ url_for("report_articles_by_jel_code") }}>Number of articles
	      per JEL code and per year</a>
	    </div>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
	  </li>
	</ul>
	{% if current_user.has_role('admin') %}
	<ul class="nav justify-content-end">
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
	    <div class="dropdown-menu">
	      <a class="dropdown-item" href="#">Another action</a>
	      <a class="dropdown-item" href="#">Something else here</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="#">Separated link</a>
	    </div>
	  </li>
	</ul>
	{% endif %}
      </nav>
    </div>


    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
