<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
	<h1>Welcome to the database server of 
	  economists publications at your institution</h1>
	<h2><a href={{ url_for("search_papers") }}>Search papers</a></h2>
	<ul>
	  <li><p> You can search papers by a variety of criterium</p></li>
	  <li><p> If you enter several words in a field, each of these
	    words must be present for the selected papers</p></li>
	</ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
