{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Number of articles per year</h1>
  <p> WARNING: this is the total number of articles published in
  previous years by people currently affiliated with your
  institution. These articles don't necessarily indicate an
    affiliation with your institution.</p>
  <table class="table table-striped table-bordered table-hover" id="mydata">
    {% for r in results %}
    <tr>
      <td>{{ r[0] }}</td>
      <td>{{ r[1] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

