{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Number of articles per JEL code and per year</h1>
  <p> WARNING: these are articles published in
  previous years by people currently affiliated with your
  institution. These articles don't necessarily indicate an
    affiliation with your institution.</p>
  <form action="/report_articles_by_jel_codes" method="post">
    <div class="form-group row">
      <div class="col-4 col-form-label">
	Number of letter or digits in the JEL code classification
      </div>
      {{ form.level(class="col-1 form-control") }}
    </div>
    <div class="form-group row">
      <div class="col-4 col-form-label">
	Period from
      </div>
      {{ form.year1(class="col-1 form-control") }}
      <div class="col-1 col-form-label">
	to
      </div>
      {{ form.year2(class="col-1 form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% if table %}
  <table class="table table-striped table-bordered table-hover" id="mydata">
    <thead>
      {% for h in table[0] %}
      <th>{{ h }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for row in table[1:] %}
      <tr>
      {% for c in row %}
      <td>{{ c }}</td>
      {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  {% endif %}
</div>
{% endblock %}

